.thumbnail img{
    width:100%;
}

.thumbnail {
    padding:0;
}

.thumbnail .caption-full{
    padding:9px;
}
.deleteForm {
    display:inline;
}

.navbar-brand:hover {
    font-size: 1.3rem;
    font-weight: bold;
}